<h1>Edit Post</h1>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put" /> 

  <label for="title">Title</label><br />
  <input id="title" name="post[title]" type="text" value="<%=h @post.title %>" />
  <br />

  <label for="body">Body</label><br />
  <textarea id="body" name="post[body]" rows="5"><%=h @post.body %></textarea>
  <br />

  <input type="submit" value="Update" />
</form>   