<h1><%=h @post.title %></h1>
<p><%=h @post.body %></p>

<td><a href="/posts/<%= @post.id %>/edit">Edit</a></td>
<br />
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete" /> 
  <input type="submit" value="Delete Post" />
</form>
<br />
<a href="/">Home</a>
